@import 'palette';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

a {
  text-decoration: none;
}

.font-title {
  font-family: 'Permanent Marker', cursive;
}

.v-text-field--filled .v-input__slot {
  border-radius: 0.4rem !important;
  &::after,
  &::before {
    content: none !important;
  }
}

.v-tabs-bar--is-mobile .v-slide-group__prev--disabled {
  display: none !important;
}
.v-app-bar {
  .row,
  .col {
    padding: 0;
  }
}
.bg-gradient-primary {
  background: linear-gradient(
    hsl(
      hue($color-primary),
      saturation($color-primary),
      lightness($color-primary)
    ),
    hsl(
      hue($color-primary),
      saturation($color-primary),
      lightness($color-primary) + 10%
    )
  ) !important;
}

// .v-application {
//   font-family: 'Patrick Hand', cursive !important;
// }
