@import 'palette';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import '~vuetify/src/styles/styles.sass';

@media #{map-get($display-breakpoints,'md-and-down')} {
  .row {
    margin: 0 !important;
  }
}

a {
  text-decoration: none;
}

.font-title {
  font-family: 'Permanent Marker', cursive;
}

.v-text-field--filled .v-input__slot {
  border-radius: 0.4rem !important;
  &::after,
  &::before {
    content: none !important;
  }
}

.v-tabs-bar--is-mobile .v-slide-group__prev--disabled {
  display: none !important;
}
.v-app-bar {
  .row,
  .col {
    padding: 0;
  }
}
.bg-gradient-primary {
  background: $bg-gradient-primary !important;
}

.v-application {
  font-family: 'Roboto Condensed', sans-serif !important;
  .v-btn,
  .v-tab,
  p {
    font-weight: 500;
  }
}
